<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>

<% if(isAuthenticated) { %>
<h1 class="content-heading-h1">CMS homepage</h1>

<% } %>



<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>