<%- include('./adminLayouts/Ahead.ejs') %>
<%- include('./adminLayouts/gridStart.ejs') %>



<h1>tady budou odkazy, které budou odkazovat na tu samou stránku se stejným menu
    ale po kliknutí na daný návod, se k renderu teto stránky jeste vyrenderuje obsah daneho odkazu
</h1>


<%- include('./adminLayouts/gridEnd.ejs') %>
<%- include('./adminLayouts/Aend.ejs') %>