<%- include('./help-layout/helpStart.ejs') %>

<% if(isAuthenticated) { %>
<h1>Návody</h1>

<p>
    V případě potřeby zde naleznete jednoduché postupy, které Vám pomohou v případě, že nevíte jak co provést. 
</p>

<% } %>







<%- include('./help-layout/helpEnd.ejs') %>
