<footer>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/services">Services</a>
    <a href="/contacts">Contacts</a>
</footer>

<!-- místo about,services bych dal services, references -->