<%- include('../help-layout/helpStart.ejs') %>

<% if(isAuthenticated) { %>
    <h1>Add neco</h1>
    
    <p>
    
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe hic atque optio, error quas ipsum enim dolorem
        blanditiis doloremque iusto ullam veritatis nesciunt doloribus incidunt ab delectus magni illo sit!
        Dolore culpa explicabo ipsam voluptatibus perferendis debitis, et similique eius totam id tempore animi aliquid
        inventore, saepe repellendus aspernatur minima exercitationem, amet quo beatae? Inventore dolores neque explicabo
        veritatis consequuntur!
        Beatae, id reiciendis? Aperiam, voluptatum hic minima quas rem ipsam atque architecto unde dolor sequi quaerat
        explicabo, veritatis maiores iure ullam amet modi quos id cumque sed consequatur ducimus maxime.
        Et repellat incidunt quaerat voluptas consectetur quidem vero fugit eos! Facere doloremque aliquid corporis ut nemo
        architecto provident? Quo illo voluptatibus ad cum totam asperiores omnis exercitationem, repellat enim maiores.
    
    </p>

<% } %>



<%- include('../help-layout/helpEnd.ejs') %>