<%- include('./layouts/head.ejs') -%>

<header class="header">
    <div class="logo-box">
        <img src="../img/logo.jpg" alt="logo" class="logo">
    </div>

    <div class="text-box">
        <h2>keci v kleci</h2>
        <a href="/services" class="btn btn-white btn-animated">Services</a>
    </div>

    
</header>

<%- include('./layouts/nav.ejs') -%>
<%- include('./layouts/end.ejs') -%>