<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact-form.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <section class="contact-section">
            
        <div class="heading-wrap">
            <div class="contact-heading">
                <h1>Mám dotaz</h1>
            </div>
        </div>

            <div class="form-wrapper">
                
                <% if(msgStatus) { %>
                    <div class="sent-message"><%= msgStatus %></div>
                <% } %>
                <% if(error) { %>
                <div class="sent-message sent-message-error"><%= error %></div>
                <% } %>

                    <form class="form" action="/contact-form" method="POST" novalidate>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <label for="name">Jmeno a příjmení</label>
                        <input type="text" name="fullname" id="">
                        <label for="mail">Email</label>
                        <input type="email" name="email" id="">
                        <label for="message">Zpráva</label>
                        <div class="textarea-con">
                            <textarea name="message" id="" cols="30" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn">Odeslat</button>
                    </form>
            </div>
    </section>
</body>
</html>