<%- include('./layouts/head.ejs') -%>

<header class="header">
    <div class="logo-box">
        <img src="../img/logo.jpg" alt="logo" class="logo">
    </div>

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Martin Bucek</span>
            <span class="heading-primary-sub">Car services</span>
        </h1>
        <a href="/about" class="btn btn-white btn-animated">More About</a>
    </div>
</header>



<%- include('./layouts/nav.ejs') -%>
<%- include('./layouts/end.ejs') -%>
