<%- include('./layouts/head.ejs') -%>

<header class="header">
    <div class="logo-box">
        <img src="../img/logo.jpg" alt="logo" class="logo">
    </div>
    <div class="text-box">

        <ul class="services-list">
            <li class="services-item fadeout">Zprostředkování služeb v dopravě</li>
            <li class="services-item fadeout">Změny na registrech vozidel</li>
            <li class="services-item fadeout">Dovoz aut ze zahraničí</li>
            <li class="services-item fadeout">Zajištění STK a emisí</li>
            <li class="services-item fadeout">Přestavba vozidel </li>
          
         
        </ul>
        <a href="/contacts" class="btn btn-white btn-animated">Contact Us</a>
    </div>
</header>




<%- include('./layouts/nav.ejs') -%>
<%- include('./layouts/end.ejs') -%>