<%- include('./layouts/head.ejs') -%>

<h1>Services</h1>


<ul class="services-list">
    <li class="services-item">Zprostředkování služeb v dopravě</li>
    <li class="services-item">Změny na registrech vozidel</li>
    <li class="services-item">Dovoz aut ze zahraničí</li>
    <li class="services-item">Zajištění STK a emisí</li>
</ul>

<%- include('./layouts/nav.ejs') -%>
<%- include('./layouts/end.ejs') -%>