/* GRID cms */

* {
	margin: 0;
}
body {
	font-family: 'Lato', sans-serif;
}

.item1 {
	grid-area: header;
}
.item2 {
	grid-area: menu;
}
.item3 {
	grid-area: content;
}
.item4 {
	grid-area: footer;
}

.grid-container {
	display: grid;
	grid-template-columns: 200px 3fr;
	grid-template-rows: 60px 2fr 60px;
	grid-template-areas: 'header header header header' 'menu content content content' 'menu content content content';
	/* gap: 10px; */
	/* background-color: springgreen; */
	/* padding: 10px; */
	height: 100vh;
}

.item1 {
	background-color: #222831;
	display: flex;
	justify-content: left;
	align-items: center;
}
.item2 {
	background-color: #393e46;
	display: flex;
	flex-direction: column;
}

.item3 {
	background-color: #d6d6d6;
	overflow-x: hidden;
	overflow-y: auto;
}

.logo:hover {
	color: #26baee;
}

/* Mailbox table */
.table {
	background-color: #eeeeee;
	overflow-x: auto;
	overflow-y: hidden;
	height: auto;
	margin: 25px;
	padding: 20px;
	border: none;
}
table {
	width: 100%;
	margin: 20px auto;
	table-layout: auto;
}

/* .fixed {
  table-layout: fixed;
} */

table,
td,
th {
	border-collapse: collapse;
}

th,
td {
	padding: 15px;
	text-align: center;
}

th {
	padding: 10px;
	background-color: #26baee;
	color: #ffffff;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
.table-btn {
	all: unset;
	cursor: pointer;
}

.td-fixed {
	table-layout: fixed;
	width: 20px;
}

.link-td {
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 2em;
	margin: -2em;
}
.table-btn-e {
	background-color: green;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
}
.table-btn {
	background-color: red;
	padding: 10px;
	border-radius: 5px;
}
.svg-tbl-btn .path-tbl-btn {
	vertical-align: middle;
	fill: black;
}

/* Navigation bar */

.navbar {
	display: flex;
	flex-direction: column;
	padding: 15px 10% 5px 10%;
}

span {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 15px;
}
svg {
	position: relative;
	justify-content: left;
}
svg path {
	fill: #ffffff;
}

.cms-nav-link {
	padding: 10px 15px 10px;
	margin: 20px 0 5px 0;
	text-align: center;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 3px;
}

.cms-nav-link:hover svg path,
.cms-nav-link:hover {
	color: #000000;
	background-color: #ffffff; /* toto funguje hover jak svg tak link */
	fill: #000000;
}
.cms-nav-link-help,
.svg-help .path-help {
	padding: 10px 15px 10px;
	margin: 20px 0 5px 0;
	text-align: center;
	color: #26baee;
	fill: #26baee;
	border: 1px solid #26baee;
	border-radius: 3px;
}
.cms-nav-link-help:hover svg path,
.cms-nav-link-help:hover {
	color: #ffffff;
	background-color: #26baee;
	fill: #ffffff;
}
a {
	text-decoration: none;
	color: #000000;
}

/* Massage content */

.msg-content {
	margin: 10px 0 10px 20px;
}
.content-description {
	color: #000000;
	padding: 10px 0 10px 10px;
}

.msg-text {
	padding: 10px 50px;
}

.reply-form {
	padding-bottom: 100px;
}

/* Header and headings */

.content-heading-h1 {
	text-align: left;
	margin: 10px 0 10px 20px;
	padding: 10px 0 10px 10px;
	color: #000000;
}
h2 {
	font-weight: 900;
	color: #ffffff;
}
h4 {
	color: #ffffff;
}
.header {
	padding: 0 60px 0 60px;
	position: relative;
}
.logout {
	padding: 10px 0 10px 0;
	margin-right: 35px;
	right: 0;
	position: absolute;
}

.logout-link {
	color: #ffffff;
	padding: 8px 15px 8px;

	text-align: center;
	border: 1px solid #ffffff;
	border-radius: 3px;
}
.logout-link:hover {
	color: #ff0000;
	border: 1px solid #ff0000;
}

pre {
	font-family: sans-serif;
	padding-top: 5px;
}

#form {
	display: grid;
	margin: 0 300px;
}

/* HELP sekce */
.help-space {
	background-color: #eeeeee;
	overflow-x: auto;
	overflow-y: auto;
	height: 70%; /* POUŽÍT VŠUDE - TOTO HEJBE KONTENT V DIVU */
	width: auto;
	margin: 25px;
	padding: 20px;
	border: none;
	display: flex;
}

.div-table-help {
	float: left;
}
.table-help {
	border: 1px solid rgb(197, 196, 196);
}
.table-help-td-link {
	padding: 15px 80px 15px 80px;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-help-td-link:hover {
	padding: 15px 80px 15px 80px;
	color: #26baee;
}

.help-content {
	/* word-wrap: break-word; */
	margin-left: 25px;
	min-width: 450px;
	height: auto;
}
.help-footer {
	text-align: center;
}
.help-footer-link {
	color: #26baee;
}
