<%- include('../adminLayouts/Ahead.ejs') %>
<%- include('../adminLayouts/gridStart.ejs') %>

<% if(isAuthenticated) { %>
<h1 class="content-heading-h1">Návod</h1>


<div class="help-space">


    <div class="div-table-help">
        <table class="table-help">
            <!--     <thead>
                <tr>
                    <th>???Obsah???</th>
                </tr>
            </thead>  -->
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-show-and-delete-msg">Zobrazit / Smazat zprávu</a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-send-msg">Poslat zprávu</a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-add-image">Přidat fotku</a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-show-and-delete-image">Zobrazit / Smazat fotku</a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-add-user">Přidat uživatele</a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-change-password">Změna hesla</a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-delete-user">Smazat uživatele</a></td>
            </tr>

        </table>
    </div>

    <!-- to co je tady bude obsah, mimo to je layout -->
    <div class="help-content">
    <% } %>