<%- include('../adminLayouts/Ahead.ejs') %>
<%- include('../adminLayouts/gridStart.ejs') %>


<h1 class="content-heading-h1">Návod</h1>


<div class="help-space">


    <div class="div-table-help">
        <table class="table-help">
            <!--     <thead>
                <tr>
                    <th>???Obsah???</th>
                </tr>
            </thead>  -->
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-delete">Zobrazit/Smazat Zprávu</a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-show">Posílání zpráv</a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-send">Přidat obsah </a></td>
            </tr>
            <tr>
                <td class="td-help"><a class="table-help-td-link" href="/admin/help/how-add">Změna hesla</a></td>
            </tr>

        </table>
    </div>

    <!-- to co je tady bude obsah, mimo to je layout -->
    <div class="help-content">