
<div class="grid-container">
    <div class="item1">
        <div class="header">
           <a href="/admin/cms"><h2>CMS</h2></a> 
        </div>
    </div>
    <div class="item2"> 
        <div class="navbar">
            <h4>Options</h4>
            <a class="cms-nav-link" href="/admin/cms">Main Page</a>
            <a class="cms-nav-link" href="/admin/mailbox">Mail box</a>
        </div>
    </div>
    <div class="item3">
     
    
