
<h3 class="help-footer">
    V případě jakémukoliv neporozumění se ozvěte na <a class="help-footer-link" href="tel:55555555">Číslo</a> nebo 
    <a class="help-footer-link" href="mailto:name@email.com">Mailovou adresu</a>.
.
</h3>